@use "../../SassStyles/variables";

.menu-left {
  color: white;
  width: 20vw;
  min-width: 20vw;
  min-height: 100vh;
  background-color: variables.$dark-gray;
  overflow-y: auto;
}

.nav-collections {
  margin: 0.5rem 1rem;
  list-style: none;
}

.nav-collections li {
  margin: 0.3rem;
  width: 100%;
}

.collection-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Subtitles
.wrapper-subtitle {
  margin: auto; // Center the subtitles
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  background-color: #ffffff0c;
  border-radius: 6px;
  padding: 0.2rem;
}

.wrapper-subtitle:hover {
  background-color: #ffffff1c;
}

.menu-subtitle {
  font-size: 1.3rem;
  text-align: left;
  margin: 0 0.4rem;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px;
  transform: rotate(-135deg);
  transition: 300ms;
}

.arrow-down {
  transform: rotate(45deg);
  transition: 300ms;
}

// Collections 
.collection-name {
  text-align: left;
  font-size: 1.3rem;
  position: relative;
  opacity: 0.9;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1.4;
  max-width: 75%;
  animation: appear-opacity 750ms;
}

.collection-name:hover {
  opacity: 1;
  transition: 0.5s;
}

.collection-name::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7%;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  transform: scale(0);
}

.collection-name:hover::before {
  transform: scale(1);
  transition: 0.5s;
}

.wrapper-edit {
  display: flex;
  flex-direction: row;
}

.input-collection-name {
  width: 100%;
  font-size: 1.3rem ;
  line-height: 1.4;
}

.active-menu-item {
  opacity: 1;
}
.active-menu-item::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7%;
  height: 2px;
  width: 100%;
  background-color: #D4D4D4;
  border-radius: 8px;
  transform: scale(1);
}

.btn-new-collec {
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.collec-hidden {
 display: none;
}
