@use "./SassStyles/variables.scss";
@use "./SassStyles/mixin.scss";

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  @include mixin.fonts;
}

.App {
  text-align: center;
  height: 100vh;
}

.wrapper-content {
  display: flex;
  flex-direction: row;
  background-color: variables.$dark-white;
}

.main-page {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.wrapper-main {
  @include mixin.flex-center;
  height: 100%;
  padding: 0.6rem;
  background-color: variables.$dark-white;
}

.main-view {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 0px 6px 1px #00000010;
  @include mixin.flex-center;
  flex-direction: column;
  position: relative;
}

/* App looks if not authenticated */

.wrapper-no-auth {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 4rem;
  background-color: variables.$dark-white;
}

.getting-started {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1rem;
  border-radius: 8px;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: variables.$dark-white;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #727272;
}

::-webkit-scrollbar-track {
  background-color: variables.$dark-white;
  margin: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#727272, 10%);
}
