@use "../SassStyles/mixin";

.form-collection {
    @include mixin.box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    border-radius: 8px;
}



.form-collection * {
    @include mixin.spacing-m;
}