@use "../SassStyles/mixin";

.form-collection {
  @include mixin.box-shadow;
  @include mixin.flex-center;
  flex-direction: column;
  width: 60%;
  margin: 4rem auto;
  border-radius: 8px;
}

.select-collection {
  font-size: 1.2rem;
  width: 20vw;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.2rem;
}

.select-item {
  font-size: 1.2rem;
}


.form-collection * {
  @include mixin.spacing-m;
}

@media (max-width: 650px) {
  .form-collection {
    width: 95%;
  }

  .select-collection {
    width: 60vw;
  }

}
