@use "../SassStyles/variables";

.menu-left {
  color: white;
  width: 20vw;
  min-width: 20vw;
  min-height: 100vh;
  background-color: variables.$dark-gray;
  overflow-y: auto;
}

.nav-collections {
  margin: 1rem;
  list-style: none;
}

.nav-collections li {
  margin: 0.3rem;
  width: 100%;
}

.collection-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collection-name {
  text-align: left;
  font-size: 1.3rem;
  position: relative;
  opacity: 0.9;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1.4;
  max-width: 75%;
}

.collection-name:hover {
  opacity: 1;
  transition: 0.5s;
}

.collection-name::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7%;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  transform: scale(0);
}

.collection-name:hover::before {
  transform: scale(1);
  transition: 0.5s;
}

.wrapper-edit {
  display: flex;
  flex-direction: row;
}

.input-collection-name {
  width: 100%;
  font-size: 1.3rem ;
  line-height: 1.4;
}

.active-menu-item {
  opacity: 1;
}
.active-menu-item::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7%;
  height: 2px;
  width: 100%;
  background-color: #D4D4D4;
  border-radius: 8px;
  transform: scale(1);
}