@use "../SassStyles/mixin";
@use "../SassStyles/animations";

.to-do {
  box-shadow: var(--elevation-to-do);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--bg-tertiary);
  border-radius: 2px;
  padding: 0.3rem;
  word-wrap: break-word;
  margin: 0.4rem;
  animation: appear-opacity 750ms;
  text-align: left;
  gap: 1rem;
}

.wrapper-btn-todos {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: fit-content;
  padding: 2px;
}

.edit-to-do-text {
  text-align: left;
  padding: 0.1rem 0.3rem;
  margin: 0.2rem;
  border-radius: 4px;
  border: 1.5px solid black;
  resize: none;
  @include mixin.fonts;
}

.edit-to-do {
  width: 100%;
}

.to-do-color {
  padding: 0 0.7rem;
  height: 25px;
  width: auto;
  border-radius: 50%;
  //margin: 0 1rem;
}


@media (max-width: 400px) {
  .to-do {
    flex-direction: column;
  }
  .to-do-def {
    width: 90%;
  }

  .edit-to-do-text {
    height: 5rem;
  }
}