@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
}

@mixin fonts {
  font-family: "Inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin alert-text {
  color: variables.$red-alert;
}

@mixin spacing-s {
  margin: 0.3rem;
}

@mixin spacing-m {
  margin: 0.5rem;
}

@mixin box-shadow {
  box-shadow: 0px 0px 6px 1px #00000036;
}