@use "./mixin";
@use "./variables";

.btn-primary {
  @include mixin.button;
  background-color: var(--primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--darkenPrimary);
}

.btn-secondary {
  @include mixin.button;
  background-color: var(--secondary);
  color: white;
}

.btn-secondary:hover {
  background-color: var(--darkenSecondary);
}

.btn-tertiary {
  @include mixin.button;
  background-color: var(--tertiary);
  color: white;
}

.btn-tertiary:hover {
  background-color: var(--darkenTertiary);
}

.btn-white {
  @include mixin.button;
  background-color: var(--btn-white); // white
  color: black;
}

.btn-white:hover {
  background-color: darken(white, 10%);
}

.btn-border {
  border: 2px solid black;
}

.btn-alert {
  @include mixin.button;
  background-color: variables.$red-alert;
  color: white;
  border: 2px solid white;
}

.btn-alert:hover {
  background-color: darken(variables.$red-alert, 5%);
}

.btn-space {
  margin: 1rem;
}

@media (max-width:400px) {
  .btn-white {
    width: 30vw;
  }
}