@use "./mixin";
@use "./variables";

.btn-primary {
  @include mixin.button;
  background-color: variables.$light-blue;
  color: white;
}

.btn-primary:hover {
  background-color: darken(variables.$light-blue, 10%);
}

.btn-secondary {
  @include mixin.button;
  background-color: variables.$dark-gray;
  color: white;
}

.btn-secondary:hover {
  background-color: darken(variables.$dark-gray, 5%);
}

.btn-tertiary {
  @include mixin.button;
  background-color: variables.$middle-blue;
  color: white;
}
.btn-tertiary:hover {
  background-color: darken(variables.$middle-blue, 5%);
}

.btn-white {
  @include mixin.button;
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: darken(white, 8%);
}

.btn-border {
  border: 2px solid black;
}

.btn-alert {
  @include mixin.button;
  background-color: variables.$red-alert;
  color: white;
  border: 2px solid white;
}

.btn-alert:hover {
  background-color: darken(variables.$red-alert, 5%);
}

.btn-space {
  margin: 1rem;
}