@use "./mixin";
@use "./animations";
.title {
  font-size: 2rem;
  @include mixin.spacing-s;
}

.title-s {
  font-size: 1.5rem;
  margin: 0.2rem;
}

.error-msg {
  @include mixin.alert-text;
  animation: error-shake 250ms ;
}