@use "../../SassStyles/variables";

.loader, .loader-del-col {
  border: 3px solid white;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.loader {
  border-top: 3px solid lighten(variables.$light-blue, 15%);
  width: 1.5rem;
  height: 1.5rem;
}

.loader-del-col {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  border-top: 3px solid variables.$dark;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
