@use "../../SassStyles/variables";

.loader {
  border: 3px solid white;
  border-top: 3px solid lighten(variables.$light-blue, 15%);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}

.loader-blue {
  border: 3px solid white;
  border-top: 3px solid lighten(variables.$light-blue, 15%);
}

.loader-dark {
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
